.login-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  background-color: #ffffff;
  color: #0a0a0a;
  border: 1px solid #f8f9fa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-weight: 500;

  &:hover {
    background-color: #f8f9fa;
  }

  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
}
