@import url('./static//styles/base.scss');

@import url('./static/styles/default-theme.scss');

/* Custom css */

.left-menu-navbar-title {
  display: block !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0 !important;
  width: -webkit-fill-available;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: #404040 !important;
}

.ant-table-empty {
  .ant-empty {
    max-width: 100vw;
  }
}

.ant-table-tbody {
  .ant-table-cell span {
    font-weight: 400;
  }
}

.table {
  tbody tr td {
    font-weight: normal;
  }
}

.ant-modal {
  top: 20px;
}

tr[data-row-key='searchInput'] {
  td {
    padding-bottom: 0 !important;
  }
}

.ant-input-affix-wrapper.ant-input-password {
  padding: 0 !important;

  .ant-input {
    padding-left: 20px;
    padding-right: 45px;
  }

  .ant-input-suffix {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

.invoice-top-menu ul li a {
  color: #404040 !important;

  &:hover {
    color: #8231d3 !important;
  }
}

// Common class name

.dropdown-select {
  .ant-select-item-option-content {
    padding: 5px !important;
    padding-left: 10px !important;
  }
}

.common-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.table-search {
  .ant-table-thead {
    .ant-table-cell {
      &:not(.ant-table-column-has-sorters) {
        display: flex;
        min-height: 100px;
      }

      .ant-table-column-sorter {
        margin-bottom: 45px;
      }

      &:not(.searchInput) {
        .ant-table-column-title {
          margin-bottom: 45px;
        }
      }
    }
  }
}

.table-search-selection {
  .ant-table-thead {
    .ant-table-cell {
      .ant-table-column-sorter {
        margin-bottom: 45px;
      }
    }
  }
}

.subMenu {
  min-width: 250px;
  width: max-content !important;
}

.invoice-datatable-filter__input {
  .ant-tabs-top {
    margin-bottom: 15px;
  }
}
